In [7]:
n=range(4)
print(n)

range(0, 4)

In [9]:
n=range(4)
print(list(n))

[0, 1, 2, 3]

In [25]:
my_list = [10,20,30,40,50]
names = ["Ayush", "pal"]
print(my_list)
print(names)

[10, 20, 30, 40, 50]
['Ayush', 'pal']

In [26]:
my_list = [10,20,30,40,50]
names = ["Ayush", "pal"]
print(my_list)
print(my_list[4])
print(names)
print(names[0])

[10, 20, 30, 40, 50]
50
['Ayush', 'pal']
Ayush

In [27]:
my_list = [10,20,30,40,50]
names = ["Ayush", "pal"]
print(my_list)
print(my_list[4])
print(names)
print(names[0])
my_list[2] = 250
print(my_list)

[10, 20, 30, 40, 50]
50
['Ayush', 'pal']
Ayush
[10, 20, 250, 40, 50]

In [28]:
my_list = [10,20,30,40,50]
names = ["Ayush", "Pal", "Nobi"]
print(my_list)
print(my_list[4])
print(names)
print(names[0])
my_list[2] = 250
print(my_list)
print(names[-1])

[10, 20, 30, 40, 50]
50
['Ayush', 'Pal', 'Nobi']
Ayush
[10, 20, 250, 40, 50]
Nobi

In [38]:
#slicing operation
g = [1,2,3,4,5,6,7,8,9,10]
print(g[0:5])
print(g[:3])
print(g[1:9:3])
print(g[0:6:])
print(g[-1:4:-1])

[1, 2, 3, 4, 5]
[1, 2, 3]
[2, 5, 8]
[1, 2, 3, 4, 5, 6]
[10, 9, 8, 7, 6]

In [59]:
#List methods

#1. Append(item)

no = [10,20,30,40,50]
no.append(25)
print(no)

#2. Clear()

n = [1,12,14,15]
n.clear()
print(n)

#3. Copy()

a = [45,25,87,56,95]
b = [78,96,14]
a = b.copy()
print(a)

#4. Count()

v = [1,4,5,2,4,1,4,2,5]
print(v.count(4))

#5. Extend(iterable)

list1 = [1,2]
list2 = [3,4]
list1.extend(list2)
print(list1)

#6. Index(item, [start,end])

letters = ['a','b','c','a']
print(letters.index('c'))

#7. Insert(index,item)

list = [15,16,17,18,19,20]
list.insert(2,25)
print(list)

#8. Pop(index)

list = [15,16,17,18,19,20]
list.pop(3)
print(list)

#9. Remove(item)

list = [15,16,17,18,19,20]
list.remove(16)
print(list)

#10. Sort()

l = [14,57,41,85,43,21,26,95,24]
l.sort()
print(l)

#11. Reverse()

r = [10,9,8,7,6,5,4,3,2,1]
r.reverse()
print(r)

[10, 20, 30, 40, 50, 25]
[]
[78, 96, 14]
3
[1, 2, 3, 4]
2
[15, 16, 25, 17, 18, 19, 20]
[15, 16, 17, 19, 20]
[15, 17, 18, 19, 20]
[14, 21, 24, 26, 41, 43, 57, 85, 95]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [62]:
color = ["Red", "Green", "Blue", "Yellow"]
color.append("Purple")
print(color)
color.insert(1, "Orange")
print(color)
color.remove("Green")
print(color)

['Red', 'Green', 'Blue', 'Yellow', 'Purple']
['Red', 'Orange', 'Green', 'Blue', 'Yellow', 'Purple']
['Red', 'Orange', 'Blue', 'Yellow', 'Purple']

In [66]:
'''
Create a list called numbers containing integers from 1 to 10. Then using list slicing:
1> Print the first five number.
2> Print numbers from the 4th to the 8th (internally).
3> Print every second number in the list.
4> Print the list in reverse order.
'''
Number = [1,2,3,4,5,6,7,8,9,10]
print(Number[0:5])
print(Number[4:9])
print(Number[::2])
print(Number[::-1])

[1, 2, 3, 4, 5]
[5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [68]:
#Tuple

my_tuple = (10, 20, 30, 40, 50)
print(my_tuple[0])
print(my_tuple[1:4])  #Tuple slicing

10
(20, 30, 40)

In [72]:
data_tuple = (10, 20, [30,40])
print(data_tuple[0])
print(data_tuple[2])
data_tuple[2].append(50)
print(data_tuple)

10
[30, 40]
(10, 20, [30, 40, 50])

In [74]:
tuple = (1,2,3,4,5,6,7,8,9,10)
print(tuple[2])
print(len(tuple))

3
10

In [4]:
ayu = (1,2,3,4,5)
a1 = list(ayu)
print(a1)

[1, 2, 3, 4, 5]

In [87]:
my_tuple = ("apple", "banana", "orange", "kiwi", "papaya")
for fruit in my_tuple:
    print(fruit)

apple
banana
orange
kiwi
papaya

In [88]:
find = (1,2,3,4,5,6,7)
print(1 in find)
print(8 in find)

True
False

In [89]:
t1 = (255,487,854,742,365)
t2 = (74,26,48,75,94)
print(t1+t2)

(255, 487, 854, 742, 365, 74, 26, 48, 75, 94)

In [3]:
q1 = (45,75,15,75,85)
q2 = list(q1)
print(q2)
q2.reverse()
print(q2)
q3 = tuple(q2)
print(q3)

[45, 75, 15, 75, 85]
[85, 75, 15, 75, 45]
(85, 75, 15, 75, 45)

In [93]:
tu = (15,74,58,65,15)
tu.count(15)

2

In [96]:
u = (34, 43, 23, 45, 65, 36)
maximum = max(u)
minimum = min(u)
print("Tuple", u)
print("Maximum Value", maximum)
print("Minimum Value", minimum)

Tuple (34, 43, 23, 45, 65, 36)
Maximum Value 65
Minimum Value 23

In [97]:
# Creating a nested tuple
nested_tuple = ("apple", (10, 20, 30), "banana")

# Accessing elements
print(nested_tuple[0])        
print(nested_tuple[1])       
print(nested_tuple[1][1])     
print(nested_tuple[2])

apple
(10, 20, 30)
20
banana

In [99]:
r = ((1, 2), (3, 4), (5, 6))
print(r[0]+r[1]+r[2])

(1, 2, 3, 4, 5, 6)

In [100]:
# Creating a tuple of words
words = ("apple", "banana", "cherry", "dragonfruit", "fig")

# Finding the longest word
longest = max(words, key=len)

print("Longest word:", longest)

Longest word: dragonfruit

In [2]:
a = (51,26,618,754,21)
b = (575,146,78,21,51)
common = tuple(set(a) & set(b))

print("Common elements:", common)

Common elements: (51, 21)

In [1]:
f = (10,20,30,40)
f = list(f)
f[0],f[-1] = f[-1], f[0]
print(f)

[40, 20, 30, 10]