In [ ]:
# Dictionary
'''
Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values

'''

In [37]:
# Dictionary creation
student = {
    "name": "Ayush",
    "age": 20,
    " branch": "Computer Science",
    "is_enrolled": True
}
print(student)

{'name': 'Ayush', 'age': 20, ' branch': 'Computer Science', 'is_enrolled': True}

In [10]:
student = {
    "name": "Ayush",
    "age": 20,
    " branch": "Computer Science"
}
print(student["name"])
print(student.get("age")) # get()  or without get we use []
print(student.get("address"))

Ayush
20
None

In [104]:
# Adding, Modifiying and removing items

student  = {
    "name" : "Ayush",
    "age" : 20
}
student["major"] = "Physics"   #Adding
student["enroll"] = 67
student["address"] = "Bhopal"

student["age"] = 21   #Update
student.update({"name": "Piyush"})

#Remove
'''
for removing we use 
 del dict[key] : Removes the item with the specified key name
 pop(key) :  Removes the item with the specified key name
 popitem() : Remove and return the last inserted key (in versions before 3.7, a random item is removed instead) 
 clear() : Remove all items 
'''

del student["age"] 
student.pop("major")
student.popitem()
student.clear()
print(student)

{}

In [33]:
# Dictionary methods

student = {
    "name": "Ayush",
    "age": 20,
    " branch": "Computer Science"
}
print(student.keys())
print(student.values())
print(student.items())

dict_keys(['name', 'age', ' branch'])
dict_values(['Ayush', 20, 'Computer Science'])
dict_items([('name', 'Ayush'), ('age', 20), (' branch', 'Computer Science')])

In [ ]:
# Set
'''
Sets are used to store multiple items in a single variable.

Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List,
Tuple, and Dictionary, all with different qualities and usage.

A set is a collection which is unordered, unchangeable*, and unindexed.

'''

In [38]:
# Set creation
my_set = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [42]:
# Duplicate remove
set1 = set({2,6,7,8,6,4})  #We can use set keyword also
print(set1)

{2, 4, 6, 7, 8}

In [49]:
# Add item
my_set = {4,5,6,7}
my_set.add(3)
my_set.add(4)  # Adding existing item has no effect
print(my_set)

# Remove item
my_set.remove(6)
print(my_set)

# Discard : Remove specified item

my_set.discard(5)
my_set.discard(8)  # Do not give error due to unknown item
print(my_set)

{3, 4, 5, 6, 7}
{3, 4, 5, 7}
{3, 4, 7}

In [53]:
# Set Methods

set1 = {75,85,64,35,14,55}
set2 = {12,75,48,26,42,36}
print(set1.pop())    # pop() : Remove and return any random item
print(set1.union(set2))   #union() or | : Returns a new set containing all unique items 
print(set2.clear())   # clear() : Clear the set
print(set1.intersection(set2))  #intersection() : give common item
print(set1.difference(set2))    #Give difference   or use [print(set1-set2)]
print(set1.symmetric_difference(set2))   # or use [set1 ^ set2]

64
{35, 36, 42, 75, 12, 14, 48, 85, 55, 26}
None
set()
{35, 85, 55, 75, 14}
{35, 75, 14, 85, 55}

In [66]:
# Frozen Set 
'''
A frozen set is an immutable version of set.
Once created, we cannot add or remove elements from it.
'''

my_list = [1,2,3,2]
my_frozenset = frozenset(my_list)
print(my_frozenset)

valid_permutation = {frozenset({1,2}): "Group A", frozenset({3,4}): "Group B"}
print(valid_permutation[frozenset({1,2})])

frozenset({1, 2, 3})
Group A

In [ ]:
# Exercise

In [68]:
product = {
    "name" : "Laptop",
    "price" : 1200,
    "in_stock" : True
}
product["price"] = 1150 
product["new brand"] = "Dell"
print(product)

{'name': 'Laptop', 'price': 1150, 'in_stock': True, 'new brand': 'Dell'}

In [72]:
student_info = {
    "name" : "Rajesh",
    "age"  : 22,
    "major"  : "Electrical Engineering"
}
student_info["course"] = ["Circuits", "Signals", "Machines"]
del student_info["age"]
print(student_info)

{'name': 'Rajesh', 'major': 'Electrical Engineering', 'course': ['Circuits', 'Signals', 'Machines']}

In [74]:
numbers = [1,2,2,3,4,4,5,1]
number_set = set(numbers)
number_list = list(number_set)
print("Set", number_set)
print("List", number_list)

Set {1, 2, 3, 4, 5}
List [1, 2, 3, 4, 5]

In [75]:
sentence = "Python is an amazing programming language"
words = sentence.split()
new_sentence = "-".join(words)
print(new_sentence)

Python-is-an-amazing-programming-language

In [77]:
course_a = { "Alice", "Bob", "Charlie", "David"}
course_b = { "Charlie", "David", "Eve", "Frank"}
print(course_a.intersection(course_b))
print(course_a.union(course_b))
print(course_a.difference(course_b))

{'Charlie', 'David'}
{'Bob', 'David', 'Alice', 'Charlie', 'Frank', 'Eve'}
{'Bob', 'Alice'}

In [80]:
student = { "Ayush": 485 ,  "Rahul" : 476 , "Eve" : 352 , "Atul" : 498 , "Ranger" : 425}
highest_score = -1
for name, marks in student.items():
    if marks > highest_score:
        highest_score = marks
print(highest_score)

498

In [88]:
from collections import Counter
d1 = {"a" : 10, "b" : 20}
d2 = {"b" : 5, "c" : 15}
d3 = dict(Counter(d1) + Counter(d2))
print(d3)

{'a': 10, 'b': 25, 'c': 15}

In [ ]:
# String

In [90]:
# Concatenation : using + operator

greeting = "Hello" + " " + "World"
print(greeting)

# Repetition : using * operator

Star = "*" * 5
print(Star)

# Length : len() function

message = "Python"
print(len(message))

# Indexing and Slicing

text = "Programming"
print(text[0])
print(text[2:6])
print(text[::-1])

Hello World
*****
6
P
ogra
gnimmargorP

In [95]:
# String Methods
'''
lower() : Converts a string into lower case
upper() : Converts a string into upper case
capitalize() : Converts the first character to upper case
title() : Converts the first character of each word to upper case
strip() : Removes leading and trailing whitespace
lstrip() : Removes leadind whitespace
rstrip() : Removes trailing whitespace
replace(old, new) : Repalce all occurence of a substring
split([delimiter]) : Splits a string into a list of substrings using a delimiter(defaut is whitespace)
join() : Joins the elements of an iterable to the end of the string
find(substring) : Searches the string for a specified value and returns the position of where it was found
count(substring) : Returns the number of times a specified value occurs in a string
startswith(prefix) : Returns true if the string starts with the specified value
endswith(suffix) : Returns true if the string ends with the specified value
isdigit()
isalpha()
isalnum()
isspace()
'''
message = "Hello World"
print(message.lower())
print(message.upper())
print(message.capitalize())
print(message.title())

padded_s = "  Hello World"
print(padded_s.strip())

sentence = "I like apples, do you like apples?"
new_sentence = sentence.replace("apples", "oranges")
print(new_sentence)

data = "apple, banana, cherry"
fruit_list = data.split(",")
print(fruit_list)

words = ["Hello", "World", "Python"]
joined_string = " ".join(words)
print(joined_string)
csv_data = ",".join(["Hello", "World", "Python"])
print(csv_data)

text = "Python programming is fun"
print(text.find("program"))
print(text.count("g"))
print(text.startswith("Py"))
print(text.endswith("fun"))

hello world
HELLO WORLD
Hello world
Hello World
Hello World
I like oranges, do you like oranges?
['apple', ' banana', ' cherry']
Hello World Python
Hello,World,Python
7
2
True
True

In [103]:
# String Formating  (F-String)
'''
F-String was introduced in Python 3.6, and is now the preferred way of formatting strings.
To specify a string as an f-string, simply put an f in front of the string literal, and add curly 
 brackets {} as placeholders for variables and other operations.
We can combine strings and numbers by using f-strings or the format() method!
'''

name = "Bob"
age = 30
message = f"Hello, {name}! You are {age} years old."
print(message)

price = 152.325
print(f"Price : {price:.2f}")   # (.2f) : format to 2 decimal place

# .format() method:

name = "Alice"
age = 25
message = "Hello, {}! you are {} years old .".format(name, age)
print(message)

message_named = "Hello, {n}! You are {a} years old.".format(n = "Charlie", a = 35)
print(message_named)

# old style % formatting

name = "David"
age = 40
message = "Hello, %s! You are %d years old." %(name,age)   # %s for string and %d for integer
print(message)

Hello, Bob! You are 30 years old.
Price : 152.32
Hello, Alice! you are 25 years old .
Hello, Charlie! You are 35 years old.
Hello, David! You are 40 years old.

In [ ]:
# Exercise

In [108]:
a = "Ram"
b = 50
c = f"Student {a} scored {b} marks."
print(c)

Student Ram scored 50 marks.

In [113]:
r=7 
a=3.147*r*r
c=2*3.147*r
d = f"Circle radius={r}, area={a}, circumference={c}"
print(d)

Circle radius=7, area=154.203, circumference=44.058

In [114]:
s=2500
b=5000
t=s+b
e = f"Salary=${s}, Bonus=${b}, Total=${t}"
print(e)

Salary=$2500, Bonus=$5000, Total=$7500

In [115]:
i= "Laptop"
o= 50000
d= 5000
t= o-d
sen = f"Item:{i}, Orignal:${o}, Discount=${d}, Final=${t}"
print(sen)

Item:Laptop, Orignal:$50000, Discount=$5000, Final=$45000

In [118]:
a ="Python is an amazing programming language"
words = a.split()
message = "-".join(words)
print(message)

Python-is-an-amazing-programming-language