In [1]:
# Assignment Operators

balance = 100
balance += 50
print(f"Balance after += : {balance}")

items = 10
items *= 2
print(f"Items after *= :{items}")

Balance after += : 150
Items after *= :20

In [3]:
# Identity Operator 
'''
Identity operator compare the memory locations(identities) of two objects.
They check if two variables refer to the exact same object in memory, not just if they have the same value.

1.> is : Returns True if both operands refer to the same object.
2.> is not : Returns True if both operands do not refer to the same object.
'''

# Integers
a = 10
b = 10 
c = 20
print(f"a is b: {a is b}")
print(f"a is c: {a is c}")

# List
list1 = [1,2,3]
list2 = [1,2,3]
list3 = list1
print(f"list1 == list2 :{list1 == list2}")
print(f"list1 is list2 :{list1 is list2}")
print(f"list1 is list3 :{list1 is list3}")

# String
s1 = "hello"
s2 = "hello"
s3 = "world"
print(f"s1 is s2 :{s1 is s2}")
print(f"s1 is s3 :{s1 is s3}")

a is b: True
a is c: False
list1 == list2 :True
list1 is list2 :False
list1 is list3 :True
s1 is s2 :True
s1 is s3 :False

In [4]:
# Membership Operator
'''
Membership operator test for the presence of a value or a sequence in another sequence(like list, string, tuple, set) or mapping(like dictionary).

1.> in
2.> not in
'''

# string
message = "Hello, Python"
print(f"'Python' in message : {'Python' in message}")
print(f"'Java' not in message : {'Java' not in message}")

# list
fruits = ["apple", "banana", "cherry"]
print(f"'banana' in fruits : {'banana' in fruits}")
print(f"'grapes' not in fruits : {'grapes' not in fruits}")

# dictionary
student_scores = {"Alice":90, "Bob":85}
print(f"Alice in student_scores : {'Alice' in student_scores}")

'Python' in message : True
'Java' not in message : True
'banana' in fruits : True
'grapes' not in fruits : True
Alice in student_scores : True

In [8]:
# Flow Control (conditional and Iterative Statements - for loop)

# Conditional Statement
''' 
if statement

-> The if statement executes a block of code only if a specified condition is true.

  Syntax
     if condition:
        #code to execute if condition is true
        statement_1
        statement_2
        #...
'''

age = 17
if age >= 18:
    print("You are an adult.")

In [9]:
# if-else statement 

temperature = 20
if temperature > 25:
    print("it's hot outside")
else:
    print("it is not too hot")

it is not too hot

In [15]:
fruits = ["apple", "banana", "grapes"]
if "apple" in fruits:
    print("Apple is a fruit.")
else :
    print("Apple is not a fruit.")

Apple is a fruit.

In [20]:
# even odd question
number = 125
if number/2 == 0:
    print("number is even")
else :
    print("number is odd")

number is odd

In [22]:
# find greatest no.
a,b,c = map(int, input("Enter any three numbers : ").split())
if max(a,b,c):
    print("Greatest no. is : ", max(a,b,c))

Enter any three numbers :  14 42 15

Greatest no. is :  42

In [28]:
# Input three numbers
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
nums = [a, b, c]
nums.sort(reverse=True)
print("Greatest:", nums[0])
print("Second Greatest:", nums[1])

Enter first number:  15
Enter second number:  12
Enter third number:  42

Greatest: 42
Second Greatest: 15

In [30]:
a = int(input("Enter first number: "))
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a > b:
    if a > c:
        greatest = a
        if b > c:
            second_greatest = b
        else:
            second_greatest = c
    else:
        greatest = c
        second_greatest = a
else:
    if b > c:
        greatest = b
        if a > c:
            second_greatest = a
        else:
            second_greatest = c
    else:
        greatest = c
        second_greatest = b

print("Greatest:", greatest)
print("Second Greatest:", second_greatest)

Enter first number:  14
Enter second number:  56
Enter third number:  52

Greatest: 56
Second Greatest: 52

In [38]:
# Find no. of vowel
a=input("Enter the string:")
v="a","e","i","o","u","A","E","I","O","U"
count=0
for i in a:
  if i in v:
    count+=1
print("The number of vowels in the given string is:",count)

Enter the string: Hello World

The number of vowels in the given string is: 3

In [37]:
year = int(input("Enter a year: "))
# Check leap year using only if-else
if year % 4 == 0:
    if year % 100 == 0:
        if year % 400 == 0:
            print("Leap Year")
        else:
            print("Not a Leap Year")
    else:
        print("Leap Year")
else:
    print("Not a Leap Year")

Enter a year:  2014

Not a Leap Year

In [40]:
# check vowel or consonant
letter= input("Enter a letter: ")
if letter in ("aeiouAEIOU"):
    print (letter, "is a vowel")
else :
    print(letter, "is a consonant")

Enter a letter:  l

l is a consonant

In [43]:
'''
Scenario Based Practice Question: E-Commerce Cart Price Tracker

Focus: Assignment, Compound Assignment, Conditional Statements

Scenario:
You are building a basic cart total calculator for an e-commerce site.
A user can add item prices one by one.
If the total exceeds ₹1000, a 10% discount is applied.

Task:
1. Initialize total = 0
2. Use += to add item prices
3. If total > 1000, apply 10% discount using total *= 0.9
4. Print final total
'''

total = 0

item1 = float(input("Enter price of item 1: "))
item2 = float(input("Enter price of item 2: "))
item3 = float(input("Enter price of item 3: "))

total += item1
total += item2
total += item3

if total > 1000:
    total *= 0.9

print(f"Final total after discount (if any): ₹{total:.2f}")

Enter price of item 1:  457
Enter price of item 2:  857
Enter price of item 3:  425

Final total after discount (if any): ₹1565.10

In [60]:
# if-elif-else statement
'''
The if-elif-else statement allows you to test the multiple cinditions sequentially.
Python checks conditions from top to bottom.
As soon as a condition evalute to true, its corresponding code block is executed and the rest of elif and else block is skiped.
'''
# Example

score = 85
if score >= 90:
    print("Grade : A")
elif score >= 80:
    print("Grade : B")
elif score >= 70:
    print("Grade : C")
else:
    print("Grade : Fail")

Grade : B

In [48]:
score = int(input("Enter Marks: "))
if score >= 90:
    print("Grade A : " , {score})
elif score >= 80:
    print("Grade B : " , {score})
elif score >= 70:
    print("Grade C : " , {score})
elif score >= 60:
    print("Grade D : " , {score})
else :
    print("Fail : " , {score})

Enter Marks:  35

Fail :  {35}

In [49]:
# Nested if statement
'''
We can place if statement inside other if, elif and else block.
This is useful for testing mulitiple layers of conditions.
'''

# Example
age = int(input("Enter age"))
has_license = True 
if age >= 18:
    print(f"Your age is {age}, you are eligible to drive.")
    if has_license:
        print("You have license.")
    else:
        print("You have no license")
else:
    print("Your age is less for driving")

Enter age 42

Your age is 42, you are eligible to drive.
You have license.

In [54]:
# Password Validator
password = input("Enter the password : ")
if "@" or "#" or "$" in password:
    print("valid")
else:
    print("invalid")

Enter the password :  Ayush#8271

valid

In [53]:
# Create two item records with same values but different memory locations
item1 = [101, "Mouse", 500]
item2 = [101, "Mouse", 500]
print("item1 == item2:", item1 == item2) 
print("item1 is item2:", item1 is item2)

item1 == item2: True
item1 is item2: False

In [57]:
# Take input grade
grade = "A"
valid_grades = ["A", "B", "C", "D", "F"]
if grade in valid_grades:
    print("Valid Grade")
    if grade == "A":
        print("Excellent! Top grade achieved.")
else:
    print("Invalid Grade")

Valid Grade
Excellent! Top grade achieved.

In [72]:
# For loop
'''
The for loop is used to iterate over a sequence or other iterate objects. 
It executes a block of code once for each item in sequence.

Syntax

for variable in iterable:
  # Code to execute for each item
  statement_1
  statement_2
  #...
'''
# for loop with range()

# Example1
for i in range(5):
    print(i)
    
print("   ")

# Example2
for num in range(1,6):
    print(num)

print(" ")

# for loop in list
fruits = ["Apple", "Banana", "Cherry"]
for fruit in fruits:
    print(fruit)

print(" ")

# for loop in string
word = "Python"
for char in word:
    print(char)

print(" ")

# for loop in tuple
coordinates = {10,20,30}
for coord in coordinates:
    print(coord)

print(" ")

# for loop in dictionary
grades = {"Alice":"A", "Bob":"B", "Charlie":"C"}
for name in grades:
    print(name)
    
print(" ")
    
# for loop in set
numbers = [1,5,2,8]
for num in numbers:
    print(num)

0
1
2
3
4

1
2
3
4
5

Apple
Banana
Cherry

P
y
t
h
o
n

10
20
30

Alice
Bob
Charlie

1
5
2
8

In [69]:
# Nested for loop
'''
We can place one for loop inside another.
The inner loop completes all its iteration for each iteration of the inner loop.
'''

# Example
for i in range(1,4):
    for j in range(1,3):
        print(f"{i}*{j} = {i*j}")

1*1 = 1
1*2 = 2
2*1 = 2
2*2 = 4
3*1 = 3
3*2 = 6

In [2]:
# List of favorite movies
movies = ["Inception", "Interstellar", "The Matrix", "Avengers", "The Dark Knight"]
for movie in movies:
    print(movie)

Inception
Interstellar
The Matrix
Avengers
The Dark Knight

In [7]:
# Loop to print full name
full_name = "Ayush Jaiswal"
for name in full_name:
    print(name)

A
y
u
s
h

J
a
i
s
w
a
l

In [6]:
# Loop to print even numbers from 0 to 20
for num in range(0, 21, 2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20

In [12]:
# Loop through a dictionary and print each item
inventory = {"apple": 10, "banana": 15, "orange": 5}
for fruit, quantity in inventory.items():
    print(f"Fruit: {fruit}, Quantity: {quantity}")

Fruit: apple, Quantity: 10
Fruit: banana, Quantity: 15
Fruit: orange, Quantity: 5

In [13]:
# Print a simple 3x3 grid of asterisks using nested loops
for i in range(3):
    for j in range(3):
        print("*", end=" ")
    print()  # new line after each row

* * *
* * *
* * *

In [14]:
# Calculate discount based on total bill
total_bill = float(input("Enter the total bill amount: $"))
discount = 0

if total_bill >= 100:
    discount = 10
elif total_bill >= 50:
    discount = 5
    
discount_amount = (discount / 100) * total_bill
final_bill = total_bill - discount_amount

print(f"Discount applied: {discount}%")
print(f"Final bill after discount: ${final_bill:.2f}")

Enter the total bill amount: $ 451

Discount applied: 10%
Final bill after discount: $405.90